@model IEnumerable<ClashLootWebpage.Models.LootModel>

<table data-toggle="table">
    <tr>
        <th>Date</th>
        <th>Gold</th>
        <th>Elixer</th>
        <th>Dark</th>
        <th>Trophies</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.dateNow.Date)</td>
            <td>@Html.DisplayFor(modelItem => item.Gold)</td>
            <td>@Html.DisplayFor(modelItem => item.Elixer)</td>
            <td>@Html.DisplayFor(modelItem => item.Dark)</td>
            <td>@Html.DisplayFor(modelItem => item.Trophies)</td>
        </tr>
    }

</table>




